<h2>Karta mother fucker</h2>

<div class="container cf">
    <div>
        <div id="mapContainer" style="width: 100%;"></div>
        <div id ="slider-snap" style="margin-top: 20px;"></div>
        <h2 id="slider-snap-value-lower"></h2>
        <h2 id="slider-snap-value-upper"></h2>
        <p id ="textId"></p>

        <div style="width: 100%; overflow: hidden; margin-bottom:200px;">
            <div ng-init="value='all'" style="width: 300px; float:left;  border: 0px solid red;">
                <p><input type="radio" ng-model="value" value="all" ng-change='newValue(value)'> Alla museum</p>
                <p><input type="radio" ng-model="value" value="LSH" ng-change='newValue(value)'> Endast LSH</p>
            </div>
            <div ng-init="" style="border: 0px solid blue; float: left; margin-right: 20px;">
                <p><input type="radio" ng-model="value" value="allArtefacts" ng-change=''> Alla artefakter </p>
            </div>
            <div ng-init="" style="border: 0px solid green; float: left; margin-right: 20px;">
                <p><input type="radio" ng-model="value" value="weapon" ng-change='newValue(value)'> Vapen </p>
                <p><input type="radio" ng-model="value" value="clothes" ng-change=''>Kläder </p>
            </div>
            <div ng-init="" style="border: 0px solid blue; float: left; margin-right: 20px;">
                <p><input type="radio" ng-model="value" value="art" ng-change=''> Konst & hantverk </p>
                <p><input type="radio" ng-model="value" value="armour" ng-change=''> Rustningar </p>
            </div>
            <div ng-init="" style="border: 0px solid blue; float: left; margin-right:50px;">
                <p><input type="radio" ng-model="value" value="art" ng-change=''> Möbler </p>
                <p><input type="radio" ng-model="value" value="armour" ng-change=''> Tyg </p>
            </div>
            <div>
                 <select style="width:15%" ng-model='selectedMaterial' ng-change="showSelectValue(selectedMaterial)" ng-options='material for material in materials'></select>
                 <button ng-click="add()">add</button>
            </div>
            

        </div>
    </div>


</div>


