<h2>Scatterplot</h2>
<style>
.chart {

}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}
div.tooltip {	
    position: absolute;			
    text-align: center;			
    font-size: 27px;
    opacity: 0.8;		
}

#parent {
  display: flex;
}
.graphTest {
	margin-right:-220px;
    width: 49%;
    margin: 0 auto;
}

</style>
<div id="parent">

 		
	<div class='content'>
	          <!-- /the chart goes here -->
	</div>

	<div style="width: 50%" id="map_bombs"></div>
</div>